:root {
  --panel-background: #000000c0;
  --text: white;
  --shaded: #202020;
  --accent: #0fabb9;
}

/* Toolkit */

body {
  margin: 0;
  color: var(--text);
  background-color: gray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, button, select {
  all: unset;
  box-sizing: border-box;
  background: var(--shaded);
  border-style: none;
  padding: 5px;
  transition: box-shadow 0.05s;
}

button {
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  padding: 10px 20px;
  transition: all 0.05s;
}

button:disabled {
  cursor: default;
  color: gray;
  opacity: 60%;
}

input, textarea {
  min-width: 2em;
  width: 100%;
}

::placeholder {
  color: var(--text);
  opacity: 0.4;
}

input:focus, textarea:focus {
  box-shadow: 0 0 0.3em 0 var(--accent);
}

h1 {
  color: var(--accent);
  margin-bottom: 0;
}

.h-box {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 0;
  gap: 12px;
}

.v-box, .scroll-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}

.scroll-box {
  overflow: auto;
  scrollbar-width: thin;
}

.tab-list {
  display: flex;
  gap: 0;
  align-items: stretch;
  justify-content: center;
  overflow: auto;
  scrollbar-width: thin;
}

.tab-button.selected {
  transform: none;
  opacity: 100%;
  background-color: var(--accent);
}

/* Game UI */

.game-ui-root {
  width: 100%;
  height: 100%;
}

.game-ui-space-scene {
  position: absolute;
}

.overlay-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

.panel {
  display: flex;
  flex-grow: 0;
  flex-direction: column;
  align-items: flex-start;
  overflow: auto;
  scrollbar-width: thin;
  background-color: var(--panel-background);
  pointer-events: auto;
  width: 20%;
  margin: 30px;
  border-radius: 20px;
}

.panel-tab-list {
  margin-bottom: 10px;
}

/* SpaceScene */

.body-div {
  width: 40px;
  height: 40px;
  position: relative;
}

.body-selection-indicator {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  box-sizing: border-box;
  pointer-events: none;
  border: solid;
  border-color: #FFFFFF;
  border-width: 1px;
  opacity: 0%;
  transform: scale(2);
  transition: opacity 0.15s ease-in, transform 0.15s ease-in;

}

.body-div.selected > .body-selection-indicator {
  transform: none;
  opacity: 100%;
}

.body-label {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: light;
  position: absolute;
  top: 90%;
  margin: 0;
  left: 50%;
  text-align: center;
  max-width: 100px;
  white-space: nowrap;
  transform: translateX(-50%);
}

/* Tests */

.test-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--panel-background);
}

.test-results-div {
  position: absolute;
  background: var(--panel-background);
  bottom: 0;
  right: 0;
}

.single-test {
  border: 6px solid transparent;
  padding: 4px;
}

.single-test > p {
  margin: 0;
}

.single-test.good {
  background-color: #259536;
}

.single-test.exceptional {
  background-color: #10b4a6;
}

.single-test.bad {
  background-color: #9a2725;
}

.single-test.running {
  border-color: #FFFFFF;
}
