body {
  margin: 0;
  background-color: gray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-box {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 0;
  gap: 12px;
}

.v-box, .scroll-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}

.scroll-box {
  overflow: auto;
  scrollbar-width: thin;
}

.good {
  background-color: #00FF00;
}

.exceptional {
  background-color: #00FFFF;
}

.bad {
  background-color: #FF0000;
}

.important {
  background-color: #FFFFFF;
}

.body-label {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: light;
  padding: 0.2em;
  /*background: rgba(0, 0, 0, 0.5);*/
}

.body-label.selected {
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
}

.action-button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.5em;
  font-size: 16pt;
  border-radius: 0.5em;
  background-color: #202020;
  color: #20A0FF;
  margin: 0.1em;
}

.action-button:disabled {
  cursor: default;
  color: black;
}
