body {
  margin: 0;
  background-color: gray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 12pt;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.h-box {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-grow: 0;
  gap: 12px;
}

.v-box, .scroll-box {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 12px;
}

.scroll-box {
  overflow: auto;
  scrollbar-width: thin;
}

.good {
  background-color: #00FF00;
}

.exceptional {
  background-color: #00FFFF;
}

.bad {
  background-color: #FF0000;
}

.important {
  background-color: #FFFFFF;
}

.body-div {
  width: 40px;
  height: 40px;
  position: relative;
}

.body-selection-indicator {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  box-sizing: border-box;
  pointer-events: none;
  border: solid;
  border-color: #FFFFFF;
  border-width: 1px;
  opacity: 0%;
  transform: scale(2);
  transition: opacity 0.15s ease-in, transform 0.15s ease-in;

}

.body-div.selected > .body-selection-indicator {
  transform: none;
  opacity: 100%;
}

.body-label {
  color: #FFFFFF;
  font-family: sans-serif;
  font-weight: light;
  position: absolute;
  top: 90%;
  margin: 0;
  left: 50%;
  text-align: center;
  max-width: 100px;
  white-space: nowrap;
  transform: translateX(-50%);
}

.action-button {
  all: unset;
  cursor: pointer;
  box-sizing: border-box;
  padding: 0.5em;
  font-size: 16pt;
  border-radius: 0.5em;
  background-color: #202020;
  color: #20A0FF;
  margin: 0.1em;
}

.action-button:disabled {
  cursor: default;
  color: black;
}
